<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @place.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>

      </div>
      <div class="col-nd-7 col-md-offset-1">
        <h1 class="review_title">My Reviews</h1>

        <% if @reviews.blank? %>
          <h3>No reviews yet. Visit a place to add one!</h3>
        <% else %>
          <%= @reviews.each do |review| %>
          <div class="reviews">
            <div class="star-rating" data-score= <%= review.rating %> ></div>
            <p><%= review.comment %></p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit Place', edit_place_path(@place) %>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
