<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <%= image_tag @place.image.url(:medium) %>


      </div>
      <div class="row place-show">
        <h1 class="review_title"><%= @place.name %></h1>
        <p><%= @place.description %></p>
        <%= link_to "Add a Comment", new_place_review_path(@place) %>

        <% if @reviews.blank? %>
          <h3>No comments yet. Add one!</h3>
          <%= link_to "Add a Comment", new_place_review_path(@place), class: "btn btn-danger" %>
        <% else %>
          <%= @reviews.each do |review| %>
          <div class="reviews">
            <div class="star-rating" data-score= <%= review.rating %> ></div>
            <p><%= review.comment %></p>
            <p>by: <%= review.user.email %></p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit Place', edit_place_path(@place) %> |
<%= link_to 'Back to Places Index', places_path %>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
