<!DOCTYPE html>
<html>
<head>
  <title>RatingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>

  <%= render 'layouts/nav' %>

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>

  <!-- examples
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->


  <%= yield %>

</body>
</html>
